<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/join" method="post">
    <input type="text" name="email" placeholder="Email"/><br/>
    <input type="password" name="pw" placeholder="Password"/><br/>
    <input type="text" name="nickname" placeholder="Nickname"/><br/>
    <label>
        <input type="checkbox" name="adminRole" value="true"> Admin 권한 부여
    </label>
    <button>회원가입</button>
</form>
</body>
</html>